.header {
  display: flex;
  max-width: 880px;
  min-width: 320px;
  width: 100%;
  margin: 45px auto 40px;
  padding-bottom: 41px;
  border-bottom: 1px solid #545454;
}

@media (max-width: 900px) {
  .header {
      margin-bottom: 42px;
      margin-top: 28px;
      padding-bottom: 31px;
      max-width: 80%;
  }
}

@media screen and (max-width: 320px) {
  .header {
    margin-bottom: 42px;
    margin-top: 28px;
    max-width: 320px;
    padding-bottom: 31px;
  }
}
