.popup__form {
  box-sizing: border-box;
  height: 330px;
  width: 430px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  padding: 35px;
}

@media (max-width: 680px) {
  .popup__form {
    width: 282px;
    padding: 25px 22px;
  }
}
