@font-face {
  font-family: 'Inter';
  font-style: normal;
  src: url('Inter-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  src: url('Inter-Black.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  src: url('Inter-Medium.woff2') format('woff2');
}

