.element__like_active {
  background: url(./../../../../images/like-active.svg);
  background-repeat: no-repeat;
  border: none;
  display: flex;
  width: 22px;
  height: 22px;
  outline: none;
  cursor: pointer;
}
